<div class="container">
  <form #lancamentoForm="ngForm" (ngSubmit)="salvar(lancamentoForm)">
    <div class="grid">
      <div class="col-12">
        <h1>Novo lançamento</h1>
      </div>

      <div class="col-12">
        <p-selectButton
          name="tipo"
          [options]="tipos"
          [(ngModel)]="lancamento.tipo"
          #tipo
        ></p-selectButton>
      </div>

      <div class="col-6 md:col-3 p-fluid">
        <label>Vencimento</label>
        <p-calendar
          name="vencimento"
          [(ngModel)]="lancamento.dataVencimento"
          #vencimento="ngModel"
          inputId="basic"
          [required]="true"
          dateFormat="dd/mm/yy"
        ></p-calendar>
        <app-error-messages [control]="vencimento.control" error="required" text="Informe uma data válida."></app-error-messages>
      </div>

      <div class="col-6 md:col-3 p-fluid">
        <label>{{ tipo.value === 'RECEITA' ? 'Recebimento' : 'Pagamento' }}</label>
        <p-calendar
          name="pagamento"
          [(ngModel)]="lancamento.dataPagamento"
          inputId="basic"
          dateFormat="dd/mm/yy"
        ></p-calendar>
      </div>

      <div class="col-12 md:col-8 p-fluid">
        <label>Descrição</label>
        <input
          pInputText
          type="text"
          name="descricao"
          [(ngModel)]="lancamento.descricao"
          #descricao="ngModel"
          required
          minlength="5"
        />
        <app-error-messages [control]="descricao.control" error="required" text="Informe uma descrição."></app-error-messages>
        <app-error-messages [control]="descricao.control" error="minlength" text="Mínimo de 5 letras."></app-error-messages>
      </div>

      <div class="col-12 md:col-4 p-fluid">
        <label>Valor</label>
        <p-inputNumber
          name="valor"
          [(ngModel)]="lancamento.valor"
          #valor="ngModel"
          [required]="true"
          mode="currency"
          currency="BRL"
          placeholder="0,00"
        ></p-inputNumber>
        <app-error-messages [control]="valor.control" error="required" text="Informe um valor."></app-error-messages>
      </div>

      <div class="col-12 md:col-6 p-fluid">
        <label>Categoria</label>
        <p-dropdown
          name="categoria"
          [(ngModel)]="lancamento.categoria.codigo"
          #categoria="ngModel"
          [options]="categorias"
          [required]="true"
          placeholder="Selecione"
          [filter]="true"
        ></p-dropdown>
        <app-error-messages [control]="categoria.control" error="required" text="Selecione uma categoria."></app-error-messages>
      </div>

      <div class="col-12 md:col-6 p-fluid">
        <label>Pessoa</label>
        <p-dropdown
          name="pessoa"
          [(ngModel)]="lancamento.pessoa.codigo"
          #pessoa="ngModel"
          [options]="pessoas"
          [required]="true"
          placeholder="Selecione"
          [filter]="true"></p-dropdown>
        <app-error-messages [control]="pessoa.control" error="required" text="Selecione uma pessoa."></app-error-messages>
      </div>

      <div class="col-12 p-fluid">
        <label>Observação</label>
        <textarea rows="3" pInputTextarea name="observacao" [(ngModel)]="lancamento.observacao"></textarea>
      </div>

      <div class="col-12 cadastros-buttons">
        <button [disabled]="!lancamentoForm.valid" style="margin-right: 10px;" pButton type="submit" label="Salvar"></button>
        <button style="margin-right: 10px;" pButton type="submit" label="Novo" class="p-button-help"></button>
        <a href="javascript:;">Voltar para a pesquisa</a>
      </div>
    </div>
  </form>
</div>
