body {
  font-family: Arial, Helvetica, sans-serif;
  color: #404c51;
  margin: 0;
}

label {
  font-weight: bold;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}

.cadastros-buttons {
  width:100%;
  display: flex;
  align-items: center;
}

.cadastros-buttons a {
  text-decoration: none;
}

.return-link {
  margin: 0 auto;
}

.p-button {
  margin-right: 50px;
}

.body-container {
  margin: 20px 20px 20px 20px;
}

.col-valor-header {
  width: 120px;
}

.col-valor-content {
  text-align: right;
}

.col-data-header {
  width: 120px;
}

.col-data-content {
  text-align: center;
}

.col-acoes {
  width: 120px;
}

.col-acoes > a {
  margin-right: 5px;
}
