<div class="container">
  <div class="grid">
    <div class="col-12">
      <h1>Nova Pessoa</h1>
    </div>

    <div class="col-12 p-fluid">
      <label>Nome</label>
      <input type="text" pInputText>
    </div>

    <div class="col-8 p-fluid">
      <label>Logradouro</label>
      <input type="text" pInputText>
    </div>
    <div class="col-4 p-fluid">
      <label>Número</label>
      <input type="text" pInputText>
    </div>

    <div class="col-4 p-fluid">
      <label>Complemento</label>
      <input type="text" pInputText>
    </div>
    <div class="col-4 p-fluid">
      <label>Bairro</label>
      <input type="text" pInputText>
    </div>
    <div class="col-4 p-fluid">
      <label>CEP</label>
      <p-inputMask mask="99.999-999"></p-inputMask>
    </div>

    <div class="col-6 p-fluid">
      <label>Cidade</label>
      <input type="text" pInputText>
    </div>
    <div class="col-6 p-fluid">
      <label>Estado</label>
      <input type="text" pInputText>
    </div>

    <div class="col-12 cadastros-buttons">
      <button style="margin-right: 10px;" pButton type="submit" label="Salvar"></button>
      <button style="margin-right: 10px;" pButton type="submit" label="Novo" class="p-button-help"></button>
      <a href="javascript:;">Voltar para a pesquisa</a>
    </div>
  </div>
</div>
